USE [master]
GO
/****** Object:  Database [Notatnik]    Script Date: 2019-03-08 12:01:26 ******/
CREATE DATABASE [Notatnik]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Notatnik', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Notatnik.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Notatnik_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Notatnik_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Notatnik].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Notatnik]
GO
/****** Object:  Table [dbo].[Notatka]    Script Date: 2019-03-08 12:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Notatka](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Tytul] [varchar](50) NOT NULL,
	[Tresc] [text] NOT NULL,
	[DataDodania] [datetime2](7) NOT NULL CONSTRAINT [DF_Notatka_DataDodania]  DEFAULT (getdate()),
 CONSTRAINT [PK_Notatka] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
